header {
  border: 1px solid black;
  
}

nav a {
 margin: 5px 10px;
  
}

.disabled {
  
  color: grey;
  
}

a .disabled {
  
  color: purple;
  
}

.active {
  color: yellow;
  
}

.parent div:first-child {
  
  color: red;
  
}

.parent div:nth-child(n+3) {
  
  color: blue;
  
}

.parent div:first-child + h4 {
  
  background-color: red;
  
}

.parent div:last-of-type + h4  {
  
  background-color: blue;
  
}

.grandparent > h4 {
  
  border: 1px solid black;
  border-radius: 5px;
  
}


.promo {
  
  color: gold;
  font-weight: bold;
  
  
}
